*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

header {
  background-color: #7d2da3;
  color: white;
  padding: 10px;
  text-align: left;
  /* margin: 0; */
}

a.logo_homepage{
  color: white;
  text-decoration: none;
}

h1 {
  /* border: 1px solid red; */
  margin: 0;
  font-size: 40px;
  text-align: left;  /* 設置文字靠左 */
  padding-left: 10px;  /* 根據需求調整左側的間距 */
}

div.top-btn{
  /* border: 1px solid red; */
  text-align: right;
}

nav {
  margin-top: 10px;
  display: flex;  /* 使用 flex 佈局 */
  /* justify-content: space-between; */
  justify-content: left;
  align-items: center;  
}

#search-container {
  position: relative;  /* 搜尋區容器，設置相對定位 */
  width: 300px;
}

#search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#search-btn {
  position: absolute;  /* 絕對定位，將按鈕放置在輸入框內 */
  right: 5px;  /* 靠右對齊，與右邊框有 5px 的距離 */
  top: 50%;
  transform: translateY(-50%);  /* 確保按鈕垂直居中 */
  border: none;
  background: transparent;
  cursor: pointer;
}

#search-btn img {
  width: 20px;
  height: 20px;
}

.nav-btn {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  background-color: white;
  /* border: 2px solid #333; */
  cursor: pointer;
  font-size: 14px;
  display: inline-block;  /* 保持按鈕並排 */
}

