<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Fixlife 修改密碼</title>

<link rel="canonical"
	href="https://getbootstrap.com/docs/5.1/examples/headers/">
<link rel="canonical"
	href="https://getbootstrap.com/docs/5.1/examples/sidebars/">

<!-- Custom styles for this template -->
<link href="/css/headers.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for sidevar -->
<link href="/css/sidebars.css" rel="stylesheet">

<link href="/css/resetpassword.css" rel="stylesheet">

<style>
</style>
</head>
<body>

	<header class="p-3 mb-3 border-bottom">
		<div class="container">
			<div
				class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a href="/"
					class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
					<h1>修卜人生</h1>
				</a>

				<ul
					class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 link-secondary">想找占卜師</a></li>
					<li><a href="#" class="nav-link px-2 link-dark">購物商城</a></li>
					<li><a href="#" class="nav-link px-2 link-dark">占卜論壇</a></li>
					<li><a href="#" class="nav-link px-2 link-dark">線上塔羅小遊戲</a></li>
					<li><a href="register" class="nav-link px-2 link-dark">會員註冊</a></li>
					<li><a href="login" class="nav-link px-2 link-dark">會員登入</a></li>
				</ul>

				<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
					<input type="search" class="form-control" placeholder="Search..."
						aria-label="Search">
				</form>

				<div class="dropdown text-end">
					<a href="#"
						class="d-block link-dark text-decoration-none dropdown-toggle"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
						<img id="photo-icon" src="/svg/user-solid.svg" alt="mdo"
						width="32" height="32" class="rounded-circle">
					</a>
					<ul class="dropdown-menu text-small"
						aria-labelledby="dropdownUser1">
						<li><a class="dropdown-item" href="membercenter">會員中心</a></li>
						<li><a class="dropdown-item" href="ftcenter">占卜師中心</a></li>
						<li><a class="dropdown-item" href="#">購物車</a></li>
						<li><a class="dropdown-item" href="#">客服中心</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">登出 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>


	<div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
		<a href="membercenter"
			class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
			<svg class="bi me-2" width="30" height="24">
				<use xlink:href="#bootstrap" /></svg> <span class="fs-5 fw-semibold">會員中心</span>
		</a>
		<ul class="list-unstyled ps-0">
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed"
					data-bs-toggle="collapse" data-bs-target="#home-collapse"
					aria-expanded="true">會員中心</button>
				<div class="collapse show" id="home-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="membercenter" class="link-dark rounded">會員基本資料</a></li>
						<!-- <li><a href="#" class="link-dark rounded">修改會員資料</a></li> -->
						<!-- <li><a href="#" class="link-dark rounded">預約查詢</a></li> -->
					</ul>
				</div>
			</li>
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed"
					data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"
					aria-expanded="false">預約查詢</button>
				<div class="collapse" id="dashboard-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="#" class="link-dark rounded">預約查詢</a></li>
						<li><a href="#" class="link-dark rounded">歷史預約查詢</a></li>
						<!-- <li><a href="#" class="link-dark rounded">Monthly</a></li> -->
						<!-- <li><a href="#" class="link-dark rounded">Annually</a></li> -->
					</ul>
				</div>
			</li>
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed"
					data-bs-toggle="collapse" data-bs-target="#orders-collapse"
					aria-expanded="false">訂單查詢</button>
				<div class="collapse" id="orders-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="#" class="link-dark rounded">訂單查詢</a></li>
						<!-- <li><a href="#" class="link-dark rounded">訂單狀態查詢</a></li> -->
						<li><a href="#" class="link-dark rounded">歷史訂單查詢</a></li>
					</ul>
				</div>
			</li>
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed"
					data-bs-toggle="collapse" data-bs-target="#orders-collapse"
					aria-expanded="false">收藏</button>
				<div class="collapse" id="orders-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="#" class="link-dark rounded">商品收藏</a></li>
						<li><a href="#" class="link-dark rounded">占卜師收藏</a></li>
						<li><a href="#" class="link-dark rounded">文章收藏</a></li>
					</ul>
				</div>
			</li>
			<li class="border-top my-3"></li>
			<li class="mb-1">
				<button class="btn btn-toggle align-items-center rounded collapsed"
					data-bs-toggle="collapse" data-bs-target="#account-collapse"
					aria-expanded="false">Account</button>
				<div class="collapse" id="account-collapse">
					<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
						<li><a href="resetpassword" class="link-dark rounded">變更密碼</a></li>
						<li><a href="#" class="link-dark rounded">刪除帳號</a></li>
						<!-- <li><a href="#" class="link-dark rounded">客服中心</a></li> -->
						<li><a href="#" class="link-dark rounded">登出</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<main class="main">

		<div class="main_container">
			<ul class="main_title">修改密碼
			</ul>
			<hr>

			<form class="password_form" id="passwordForm">
				<div class="form_group">
					<label for="currentPassword">目前密碼</label> <input type="password"
						id="currentPassword" name="currentPassword" placeholder="請輸入目前密碼"
						required> <span class="error_message"
						id="currentPasswordError"></span>
					<!-- 錯誤訊息區 -->
				</div>
				<div class="form_group">
					<label for="newPassword">新密碼</label> <input type="password"
						id="newPassword" name="newPassword" placeholder="請輸入新密碼" required>
					<span class="error_message" id="newPasswordError"></span>
					<!-- 錯誤訊息區 -->
				</div>
				<div class="form_group">
					<label for="confirmPassword">確認新密碼</label> <input type="password"
						id="confirmPassword" name="confirmPassword" placeholder="請再次輸入新密碼"
						required> <span class="error_message"
						id="confirmPasswordError"></span>
					<!-- 錯誤訊息區 -->
				</div>
				<button type="submit" class="edit-info-btn">送出</button>
			</form>


		</div>
	</main>
	<script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/js/sidebars.js"></script>
	<script src="/js/resetpassword.js"></script>
</body>
</html>